@use "screen_ratios" as *;
@use "character_item_sizes" as *;

.character-list-container {
  margin: 36px 16px 0 16px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax($itemHeight, 1fr));
  justify-items: center;
  justify-content: center;
}

@media screen and (min-width: $tabletMinWidth) {
  .character-list-container {
    justify-items: left;
    grid-template-columns: repeat(auto-fit, minmax($itemHeight, $itemHeight));
  }
}

@media screen and (min-width: $computerMinWidth) {
  .character-list-container {
    grid-template-columns: repeat(
      auto-fit,
      minmax($itemHeightPC, $itemHeightPC)
    );
  }
}
