@use "font_sizes" as *;

.character-detail-container {
  .character-detail-info {
    background: linear-gradient(135deg, var(--mv-black) 96%, transparent 81%);
    color: var(--mv-white);
    margin-top: -4px;
    padding: 0 16px;

    .character-detail-title {
      padding: 24px 0;
      position: relative;
      display: flex;
      align-items: center;

      & > h1 {
        font-size: $font-size-l;
        text-transform: uppercase;
        max-width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      & > img {
        width: 24px;
        position: absolute;
        right: 0;
        cursor: pointer;
      }
    }

    & > p {
      padding-bottom: 48px;
    }
  }
}
